{% extends "base.html" %} 

{% block header %}
<script type="text/javascript" src="http://localhost/js/gears_init.js"></script>
<script type="text/javascript"  defer="defer">

    function findlocation() {      
      var geo = google.gears.factory.create('beta.geolocation');
      geo.getCurrentPosition(foundLocation, noLocation);
     }
    function foundLocation(position){
      var lat = position.latitude;
      var long = position.longitude;
      document.getElementById('location').innerHTML = " updated location: "  + lat  +  ", "  + long  +  "." ;   
    }
    function noLocation() {
      alert('Could not find location');
    }

</script>
{% endblock %} 


{% block content %} 
<h1>NYC Zone Map</h1>
<div id="location"> </div>
<hr />
<div id="geocode">
  <form action="."  method="post">
  <input type="text" id="address" name="address" value="{{ address_query|escape }}"> <br />
  <input type="submit" value="Find my planning zone">
  </form>
  <form>
  <input type="button" onclick="findlocation()" value="Gears locator">
  </form>
</div>
  {% if address_query %}
   {% if place %} 
<h2> address found </h2> 
   <ul>
      <li> offical address : {{place}}</li>
      <li> location :<strong> {{lng}}</strong>,<strong> {{lat}}</strong> </li>    
    </ul>
   
   {% endif %} 
{% endif %} 
{% endblock %} 

