{% extends "buildmeabikerack/base.html" %} 
{% block title %} buildmeabikerack - home {% endblock %} 

{% block header %} 

<script src="http://localhost/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
        var map, layer;
        function init(){
	map = new OpenLayers.Map('index-map');

        layer = new OpenLayers.Layer.WMS( "OpenStreetMap", 
        [
        "http://oam1.hypercube.telascience.org/tiles/",
        "http://oam2.hypercube.telascience.org/tiles/",
        "http://oam3.hypercube.telascience.org/tiles/"
        ],
        {layers: 'openaerialmap'}, {'wrapDateLine': true, buffer: 1} );


        kml = new OpenLayers.Layer.GML("KML", "./rack/all.kml", 
        {format: OpenLayers.Format.KML}); 

        map.addLayers([layer,kml]);

	map.setCenter(new OpenLayers.LonLat(-73.94,40.63),10); 
        }
</script>    


<script defer="defer" type="text/javascript">
window.onload = function(){
  init() ;
}
</script>


{% endblock %}


{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li class="active"><a href="/">index</a></li> 
    <li><a href="/neighborhoods/">view requests by neighborhoods</a></li> 
    <li><a href="/dataview">view requests by community board</a></li> 
  </ul>
  <div id="login-control" class="span-20">     
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 

<div id="feeds-con"> 
   <div class="feeds"> 
      <h3>Request a rack</h3> 
      	  <form action="rack/new/" method="get"> 
	    <p> Address of a rack. Example <strong><a href="rack/new/?address=Brooklyn%2C+NY%2C+11238">Brooklyn, NY, 11238</a></strong></p>
	     <input type="text"  name="address" /> 
	    <input type="submit" value="Find location by address"> 
	  </form>
	  <h3> Recently requested racks </h3>
      <ul id="feed"> 
      {% for rack in recent_request %} 
        <li>
	  <h4><a href="rack/{{rack.id}}/">{{rack.address}}</a> </h4>
	  <p> {{rack.date}}</p>
	  <p> {{rack.meta|truncatewords:20}}</p>
	</li>
      {% endfor %}
      </ul>
   </div>

   <div class="feeds"> 
     <h3>Pending bike racks</h3>
   </div>
   <div class="feeds"> 
     <h3>Built bike racks</h3> 
   </div>
</div>
<div>
  <div id="index-map"> 
  </div>
  <h3>Download and view in <a href="rack/all.kml">Google Earth</a></h3>
</div>


{% endblock %} 



