{% extends "buildmeabikerack/base.html" %} 
{% block title %} Buildmeabikerack - Home {% endblock %} 

{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li><a href=" "> index /</a></li> 
    <li><a href="/racks/new/">add new rack request /</a></li> 
    <li class="active"><a href="/neighborhoods/">view requests by neighborhoods /</a></li> 
    <li><a href="/dataview">view requests by community board /</a></li> 
  </ul>
  <div id="login-control" class="span-20">     
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 
{% regroup neighborhoods_list by county as neighborhoods_county %}
{% for neighborhoods in neighborhoods_county %} 
<h3>{{neighborhoods.grouper}}</h3>
{% for item in neighborhoods.list %}
<div class="span-4">{{neighborhoods.name}}</div>
{% endfor %} 
{% endfor %}

{% endblock %} 



