{% extends "buildmeabikerack/base.html" %} 
{% block title %} Buildmeabikerack - Home {% endblock %} 

{% block header %} 


<script src="http://localhost/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
        var map, layer;
        function init(){
	map = new OpenLayers.Map('request-map');

        layer = new OpenLayers.Layer.WMS( "OpenStreetMap", 
        [
        "http://oam1.hypercube.telascience.org/tiles/",
        "http://oam2.hypercube.telascience.org/tiles/",
        "http://oam3.hypercube.telascience.org/tiles/"
        ],
        {layers: 'openaerialmap'}, {'wrapDateLine': true, buffer: 1} );

	
	var wkt_f = new OpenLayers.Format.WKT();
	var vectors  = new OpenLayers.Layer.Vector("new rack request");
	var wkt  = 'POINT({{lng}} {{lat}})' ;
	var features   = wkt_f.read(wkt) ;
	vectors.addFeatures(features);
	
	

        map.addLayers([layer,vectors]);
	map.setCenter(new OpenLayers.LonLat(-73.94,40.63),10); 
	


	var dragFeature = new OpenLayers.Control.DragFeature(vectors)
	map.addControl(dragFeature); 
	dragFeature.activate(); 

	var lonlat = features.geometry.getBounds().getCenterLonLat(); 
	document.getElementById('location').innerHTML = lonlat 
	document.getElementById('location').value = lonlat 
	

        }
</script>    


<script defer="defer" type="text/javascript">

window.onload = function(){
  init() ;
};

</script>

{% endblock %} 


{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li><a href="/"> index </a></li> 
    <li class="active"> <a href="/rack/new/">add new rack request</a></li> 
    <li><a href="/neighborhoods/">view requests by neighborhoods /</a></li> 
    <li><a href="dataview"> view requests by community board</a></li> 
  </ul>
  <div id="login-control" class="span-20"> 
    
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 
<div class="span-24" id="newrack"> 
  <h2>You are adding a new bike rack request</h2> 
  <hr /> 

  <form id="newrack" action="/rack/add/" method="post">
    <div id="request-map-con">
      <div id="request-map">       
      </div>
      {{form.location.errors}}
      <p id="location"> </p>
      <input type="text" name="location" id="location" value="" />
    </div>
    {{form.meta.errors}} 
    {{form.meta}}

    {{form.date.errors}} 
    {{form.date}} 

    {{form.address.errors}} 
    <input type="text" name="address" value="{{address}}" />
    
    {{form.contact_email.errors}}
    {{form.contact_email}}

    {{form.status.errors}}
    {{form.status}}

    <input type="submit" />
  </form>


</div>
{% endblock %} 


