{% extends "buildmeabikerack/base.html" %} 
{% block title %} Buildmeabikerack - Home {% endblock %} 

{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li><a href="/"> index </a></li> 
    <li class="active"<a href="/racks/new/">add new rack request</a></li> 
    <li><a href="/neighborhoods/">view requests by neighborhoods /</a></li> 
    <li><a href="dataview"> view requests by community board</a></li> 
  </ul>
  <div id="login-control" class="span-20"> 
    
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 
<div class="span-24" id="newrack"> 
  <h2>you are adding a new bike rack </h2> 
  
  <form id="newrack" action="@api/new/rack/" method="post">
    <div class="span-12">
      <input type="text" />
      <input type="text" /> 
      <input type="text" />

      <input type="file" />
      <button>A new bike rack </button> 
      
    </div>
    <div class="span-12 last">
      <textarea name="meta"> </textarea>
    </div>
  </form>


</div>
{% endblock %} 


