{% extends "buildmeabikerack/base.html" %} 
{% block title %} Buildmeabikerack - Home {% endblock %} 

{% block header %} 

<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAApLR-B_RMiEN2UBRoEWYPlhQecd-0GqOLpdRWplIF-3MYC68zSxRSW_ICu5UQSFOD7TYr-Um0_71xuw'></script>


<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
        var map, layer;
        function init(){
	map = new OpenLayers.Map('location-rack-map');

            var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {type: G_PHYSICAL_MAP}
            );
        map.addLayer(gphy);
	map.setCenter(new OpenLayers.LonLat(-73.94,40.63),10); 
        }
</script>    


<script defer="defer" type="text/javascript">
window.onload = function(){
  init() ;
};
</script>

{% endblock %} 


{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li><a href="/"> index </a></li> 
    <li class="active"> <a href="/rack/new/">add new rack request</a></li> 
    <li><a href="/neighborhoods/">view requests by neighborhoods /</a></li> 
    <li><a href="dataview"> view requests by community board</a></li> 
  </ul>
  <div id="login-control" class="span-20"> 
    
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 
<div class="span-24" id="newrack"> 
  <h2>you are adding a new bike rack </h2> 
  <hr /> 
  <form id="newrack" action="." method="post">
    {{form.as_p}}
    <input type="submit" />
  </form>


</div>
{% endblock %} 


