<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
`  <title>{% block title %} {% endblock %}</title> 
     <!-- Framework CSS -->
     <link rel="stylesheet" href="http://localhost/blueprint/screen.css" type="text/css" media="screen, projection">
     <link rel="stylesheet" href="http://localhost/blueprint/build-me-a-bike-rack.css" type="text/css" media=" screen, projection">
     <!--[if IE]><link rel="stylesheet" href="http://buildmeabikerack.com/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

     {% block header %} 


     {% endblock %}

  </head>
  <body>
   <div class="container">
     <h1><a class="title" href="/">FIXCITY.COM</a></h1>
     <div id="header">
       <ul id="menu">
	 <li class="active"><a href="/">HOME</a></li>
	 <li><a href="/neighborhoods/">NEIGHBORHOODS</a></li>
	 <li><a href="/communityboard/">COMMUNITY BOARDS</a></li>
       </ul>
       <div id="login-control">
       </div>       
     </div>
     <hr />

    {% block content %}{% endblock %}
    {% block footer %}{% endblock %} 
   </div>
  </body>
</html> 

