{% extends "buildmeabikerack/base.html" %} 
{% block title %} fixcity - add new rack {% endblock %} 

{% block header %} 


<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ">
</script>

<script src="http://localhost/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
        var map, layer;
         var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };
	
	format = "image/png"; 

        function init(){
	map = new OpenLayers.Map('request-map',options);
       

	var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {
	         type: G_PHYSICAL_MAP, 
	         numZoomLevels: 20,
	         sphericalMercator: true
	       }
            );

	var location_wkt = "POINT({{lng}} {{lat}})"; 
	console.log(location_wkt); 
	document.getElementById('location').innerHTML = location_wkt ; 


	var markers = new OpenLayers.Layer.Markers("Markers");
	map.addLayer(markers);       
	var point = new OpenLayers.LonLat({{lng}},{{lat}});       
	point.transform(map.displayProjection,map.projection)
	var marker = new OpenLayers.Marker(point);
	markers.addMarker(marker);	
	map.events.register("click", map, function(e){
		var lonlat = map.getLonLatFromViewPortPx(e.xy);
		m = new OpenLayers.Marker(lonlat);
		markers.clearMarkers();
		markers.addMarker(m);
		lonlat.transform(map.projection,map.displayProjection)
		var location_wkt = "POINT(" + lonlat.lon + " " + lonlat.lat +")"; 
		console.log(location_wkt); 
		document.getElementById('location').innerHTML = location_wkt ; 
		document.getElementById('location_log').innerHTML = location_wkt ; 
	    }); 


        map.addLayers([gphy]);

	var center = new OpenLayers.LonLat({{lng}},{{lat}});  
	center.transform(map.displayProjection, map.projection)
	console.log(center); 
	map.setCenter(center,15)
       
        }
</script>    


<script defer="defer" type="text/javascript">

window.onload = function(){
  init() ;
};

</script>
{% endblock %} 

{% block content %} 
<div id="newrack"> 
  <h2>New Rack Request</h2> 
  <form id="newrack" action="/rack/add/" method="post">
    <div class="form-header"> 
      <div id="request-map-con">
        <p>Click Map to correct rack location</p>
	<div id="request-map">       
	</div>
	<p id="location_log"></p>
	<textarea id="location" name="location"></textarea>
      </div>
    </div>
    <h3>Address</h3>
    <input type="text" name="address" value="{{address}}" />    
    <h3>Description</h3>
    {{form.meta}}
    <hr />
    <div class="form-body">    
      <h3> Date </h3>
      <input type="text" name="date" id="id_date" value="{% now "m/d/y" %}"/>     
      <h3>Contact email</p>
    {{form.contact_email}}

    <select name="status" id="id_status">
      <option value="r">requested</option>
    </select>

    </div>
    
    <input type="submit" />
  </form>


</div>
{% endblock %} 


