{% extends "buildmeabikerack/base.html" %} 
{% block title %} Buildmeabikerack - Home {% endblock %} 

{% block header %} 


<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ">
</script>

<script src="http://localhost/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
        var map, layer;
         var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };


        function init(){
	map = new OpenLayers.Map('request-map',options);
       

	var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {type: G_PHYSICAL_MAP, 
	         sphericalMercator: true
	       }
            );

	
	var wkt_f = new OpenLayers.Format.WKT();
	var vectors  = new OpenLayers.Layer.Vector("new rack request",
	       {projection: map.displayProjection} 				   
	 );
	var point = new OpenLayers.LonLat({{lng}},{{lat}}); 
	console.log(point); 
	point.transform(map.displayProjection,map.projection)
	var wkt  = 'POINT('+ point.lon +' ' + point.lat +')' ;       
	console.log(wkt); 
	var features   = wkt_f.read(wkt) ;
	vectors.addFeatures(features);

        map.addLayers([gphy,vectors]);

	var center = new OpenLayers.LonLat({{lng}},{{lat}});  
	center.transform(map.displayProjection, map.projection)
	console.log(center); 
	map.setCenter(center,15)

	var dragFeature = new OpenLayers.Control.DragFeature(vectors)
	var selectControl = new OpenLayers.Control.SelectFeature(vectors, 
		{
		    onSelect: function(feature)  { 
			map.addControl(dragFeature); 
			dragFeature.activate(); 		       

		    },
		    onUnselect: function(feature) { 
	                map.removeControl(dragFeature) ; 
                 	dragFeature.deactivate(); 		       
			var lonlat = features.geometry.getBounds().getCenterLonLat(); 
			lonlat.transform(map.projection,map.displayProjection)
			var location_wkt = "POINT(" + lonlat.lon + " " + lonlat.lat +")"; 
			console.log(location_wkt); 
			document.getElementById('location').innerHTML = location_wkt ; 
			document.getElementById('location_log').innerHTML = location_wkt ; 
		    }

		    
		});								 

	map.addControl(selectControl); 
	selectControl.activate(); 

       
        }
</script>    


<script defer="defer" type="text/javascript">

window.onload = function(){
  init() ;
};

</script>

{% endblock %} 


{% block menu %} 
<div id="header">
  <ul id="menu" class="span-20"> 
    <li><a href="/"> index </a></li> 
    <li class="active"> <a href="/rack/new/">add new rack request</a></li> 
    <li><a href="/neighborhoods/">view requests by neighborhoods /</a></li> 
    <li><a href="dataview"> view requests by community board</a></li> 
  </ul>
  <div id="login-control"> 
    
  </div>

</div>
<hr />
{% endblock %} 

{% block content %} 
<div id="newrack"> 
  <h2>New Rack Request</h2> 
  <form id="newrack" action="/rack/add/" method="post">
    <div class="form-header"> 
      <div id="request-map-con">
	<div id="request-map">       
	</div>
	<p id="location_log"></p>
	<textarea id="location" name="location"></textarea>
      </div>
    </div>
    <h3>Address</h3>
    <input type="text" name="address" value="{{address}}" />    
    <h3>Description</h3>
    {{form.meta}}
    <hr />
    {{form.date.errors}} 
    {{form.date}} 


    
    {{form.contact_email.errors}}
    {{form.contact_email}}

    {{form.status.errors}}
    {{form.status}}

    <input type="submit" />
  </form>


</div>
{% endblock %} 


