body { }
h1 { color: #672258 ; }
p { margin: 0px; } 
div#header { width: 100% ; height: 90px; }
div#index-map {background: #eee; height: 500px; width: 630px; margin: 10px;}

div#location-rack-map { height: 200px; } 
div#request-map-con { float: right; }
div#request-map { height: 400px; width: 550px;}
div#overview-map { float: right; 
height: 400px; background: #eee ; width: 480px;
margin: 10px;
}
div#overview-about { margin: 10px;padding: 10px;width: 500px;height: 400px;}
div#overview-comments { margin: 10px; }
ul.comments { width: 600px; }

ul#menu {margin-left: 0px;}
#menu li { 
float: left; 
list-style: none ; 
padding: 5px; 
border: 1px dashed #eee ; 
}
#menu li a { font-size: 150% ;} 
#menu a:hover  { border-bottom: 1px dashed #808080 ; } 
#newrack button { font-size: 200% ;  margin: 10px; }

div#search-con { float: right ; width: 450px;}
div.search { border: 1px dashed #808080 ; margin: 0px ; padding: 5px; }

div.feeds h3 { background: #eee ; } 
ul.feed { margin: 0px;}
.feed li { list-style: none; margin: 5px;}
div.formwrapper { border-bottom: 2px dashed #808080 ; padding: 10px;}
#location {  display: none ; }
.errorlist { background: red ; color: white ; font-weight: bold ; }

.arrow { height: 30px; width: 50px; background: url(images/arrow.png) ;background-repeat: no-repeat ;  margin: 0 auto ; }
div.form-header {}
#id_status { display: none; } 
a.title { color: #672258; text-decoration:none;}


.active { background: #eee ; }

.request { background: #dfabab; }
.pendding { background: #abdeab; }
.built { background: #ababde; }

#id_rack { display: none; }